{% extends 'base.html.twig' %}

{% block title %}Höricke meine Werkstatt - Impressum{% endblock %}

{% block body %}

    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="content col-lg-12">
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/werkstatt.jpg') }}" alt="Höricke Werkstatt" class="img-fluid img-thumbnail">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Rechtliches</span>
                                <h4>Impressum</h4>
                                <strong>Domaininhaber und inhaltlich verantwortlich:</strong><br />
                                Höricke meine Werkstatt GmbH,<br />
                                Geschäftsführer: Torsten Höricke<br />
                                Oderstraße 20, 14513 Teltow,<br />
                                Tel.: 0 33 28/47 99 09-0,<br />
                                Fax: 0 33 28/47 99 09-99<br />
                                E-Mail: <a href="mailto:info@hoerickemeinewerkstatt.de">info@hoerickemeinewerkstatt.de</a><br />
                                Internet: <a href="https://hoerickemeinewerkstatt.de">www.hoerickemeinewerkstatt.de</a><br />
                                <br />
                                Steuernummer: 046/121/08485<br />
                                Handelsregister: Potsdam HRB-Nr. 26769<br />
                                Rechtsform: GmbH<br />
                                Sitz der Gesellschaft: Teltow<br />
                                Geschäftsführer: Torsten Höricke<br />
                                Datenschutzbeauftragte: Annika Haack<br />
                                Ust-ID: DE 293 606 501<br />
                                <br />
                                Unsere Hinweise zum Datenschutz finden Sie <a href="{{ asset('assets/pdf/Hoericke_Datenschutz.pdf') }}" target="_blank">HIER</a> <br />
                                <hr />
                                <strong>Haftungsausschluss</strong><br />
                                <p>
                                Die Inhalte der Internetseiten der Höricke meine Werkstatt GmbH wurden nach bestem Wissen für Sie zusammengestellt. Dennoch können kurzfristige Aktualisierungsrückstände oder Irrtümer nicht ausgeschlossen werden. Die Information ist rein indikativ. Eine Garantie für inhaltliche Richtigkeit dieser Internetseiten kann nicht übernommen werden, insbesondere da das Medium Internet auf einer öffentlichen Datenübertragung basiert, bei der Manipulationen prinzipbedingt nicht ausgeschlossen werden können.
                                </p>
                                <hr />
                                <strong>Interessante Links / Zusammenarbeit mit</strong><br />
                                Jan Dewerzeny – <a href="https://www.dewa-kaelte-klima.de/" target="_blank">https://www.dewa-kaelte-klima.de/</a><br />
                                RA Frank Fromm – <a href="https://www.frankfromm.de/" target="_blank">https://www.frankfromm.de/</a><br />
                                Kerstin Höhne – <a href="https://schurbohmeloxal.cabanova.com/" target="_blank">https://schurbohmeloxal.cabanova.com/</a><br />
                                MITSCom GmbH – <a href="https://www.mitscom.de/" target="_blank">https://www.mitscom.de/</a><br />
                                Mutterwelt – <a href="http://www.mutterwelt.com/" target="_blank">http://www.mutterwelt.com/</a><br />
                                Rock am Kanal – <a href="http://www.rock-am-kanal.de/" target="_blank">http://www.rock-am-kanal.de/</a><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
