<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Höricke::Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/login.min.css') }}">

</head>
<body>

<div class="row">
    <div class="container">
        <form class="form-signin" action="{{ path('login') }}" method="post" id="Login">
            <h4 class="section-heading"><span>KFZ::Höricke</span></h4>
            <div class="row">
                <div class="column">
                    <label>BENUTZER </label>
                    <input type="text" class="full-width" placeholder="Benutzername"
                           id="username" name="_username" value="" required="required"/>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label>PASSWORT </label>
                    <input type="password" class="full-width" placeholder="Passwort"
                           id="password" name="_password" required="required"/>
                </div>
            </div>
            <br/>
            <input class="button-submit" type="submit" id="_submit" name="_submit"
                   value="Einloggen">

        </form>
    </div>
</div>


</body>
</html>