{% extends 'base.html.twig' %}

{% block title %}Onlinebuchung{% endblock %}

{% block body %}

    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="content col-lg-12">
                    
                    <!--- Corona -->
                    <div class="blog-box row list-style clearfix">
                      

                        <!--- RADWECHSELTERMIN ONLINE -->
                        {% if reifenEnabled %}
                            <div class="blog-box row list-style clearfix not-temp-hidden">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <div class="blog-media">
                                        <img src="{{ asset('assets/img/radwechsel.jpg') }}" alt="Höricke Radwechsel"
                                             class="img-fluid img-thumbnail">
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <div class="blog-desc">
                                        <span class="cat-title">Kennt ihr schon unser neues digitales Autohaus?</span>
                                        <h4>Radwechseltermin online</h4>
                                        <p>
                                            Bucht hier direkt euren Radwechseltermin online. <span
                                                    style="font-style: italic;">Schnell &amp; unkompliziert</span>
                                        </p>
                                        <div class="blog-bottom">
                                            <a href="{{ path('reifen') }}" class="btn btn-primary">Jetzt buchen</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!--- RADWECHSELTERMIN ONLINE /-->

                         <div class="blog-box row list-style clearfix not-temp-hidden">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <div class="blog-media">
                                        <img src="{{ asset('assets/img/partner/tuev-rheinland.png') }}" alt="Hoericke Tuev"
                                             class="img-fluid img-thumbnail">
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <div class="blog-desc">
                                        <span class="cat-title">Kennt ihr schon unser neues digitales Autohaus?</span>
                                        <h4>Radwechseltermin online</h4>
                                        <p>
                                            Bucht hier direkt euren Radwechseltermin online. <span
                                                    style="font-style: italic;">Schnell &amp; unkompliziert</span>
                                        </p>
                                        <div class="blog-bottom">
                                            <a href="{{ path('reifen') }}" class="btn btn-primary">Jetzt buchen</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
