{% extends 'base.html.twig' %}

{% block title %}Höricke meine Werkstatt - Reifenwechseltermin{% endblock %}

{% block body %}
    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="content col-lg-12">
                    <div class="single-page clearfix">
                        <div class="row">
                            <div class="col-md-12">
                                <iframe width="890" height="1200" style="border:0;" src="https://booking.digitalesautohaus.de/#/bookings/5e00d626-aa33-425f-b9ac-4de93b4d930f?embedded_mode=true"></iframe>
                            </div>
                        </div>
                        <hr class="invis1">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
