.mitscom-cbr div {
    clear: both;
    overflow: hidden;
}

.mitscom-cbr label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.mitscom-cbr input[type="radio"]:empty,
.mitscom-cbr input[type="checkbox"]:empty {
    display: none;
}

.mitscom-cbr input[type="radio"]:empty ~ label,
.mitscom-cbr input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 0.1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mitscom-cbr input[type="radio"]:empty ~ label:before,
.mitscom-cbr input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.mitscom-cbr input[type="radio"]:hover:not(:checked) ~ label,
.mitscom-cbr input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

.mitscom-cbr input[type="radio"]:hover:not(:checked) ~ label:before,
.mitscom-cbr input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.mitscom-cbr input[type="radio"]:checked ~ label,
.mitscom-cbr input[type="checkbox"]:checked ~ label {
    color: #777;
}

.mitscom-cbr input[type="radio"]:checked ~ label:before,
.mitscom-cbr input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.mitscom-cbr input[type="radio"]:focus ~ label:before,
.mitscom-cbr input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.mitscom-cbr-default input[type="radio"]:checked ~ label:before,
.mitscom-cbr-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.mitscom-cbr-primary input[type="radio"]:checked ~ label:before,
.mitscom-cbr-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.mitscom-cbr-success input[type="radio"]:checked ~ label:before,
.mitscom-cbr-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.mitscom-cbr-danger input[type="radio"]:checked ~ label:before,
.mitscom-cbr-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.mitscom-cbr-warning input[type="radio"]:checked ~ label:before,
.mitscom-cbr-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.mitscom-cbr-info input[type="radio"]:checked ~ label:before,
.mitscom-cbr-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}

.toggle-mnu {
    display: block;
    width: 28px;
    height: 28px;
    margin-top: 14px;
}
.toggle-mnu span:after, .toggle-mnu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
}
.toggle-mnu span:after {
    top: 18px;
}
.toggle-mnu span {
    position: relative;
    display: block;
}
.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}
.toggle-mnu.on span {
    background-color: transparent;
}
.toggle-mnu.on span:before {
    transform: rotate(45deg) translate(-1px, 0px);
}
.toggle-mnu.on span:after {
    transform: rotate(-45deg) translate(6px, -7px);
}
