.pinned{
    position:fixed;
    height:590px;
    top:186px;
    width:215px;
    right:15px;
    background:transparent url("../img/schnappchen_allg.png");
    margin:0;
    z-index:15
}

.pinned-eu{
    top:120px;
    height:56px;
    background:transparent url("../img/EFRE_Logo.png") no-repeat center;
}

.pinned-banner{
    position:fixed;
    height:85px;
    top:5px;
    width:109px;
    right:5px;
    background:transparent url("../img/partner/WDV.png");
    margin:0;
    z-index:25
}
.p-fru{
    background:transparent url("../img/schnappchen_FRU.png") !important
}
.p-som{
    background:transparent url("../img/schnappchen_SOM.png") !important
}
.p-her{
    background:transparent url("../img/schnappchen_HE.png") !important
}
.p-win{
    background:transparent url("../img/schnappchen_WIN.png") !important
}
